{% extends "app_blog/base.html" %}

{% block title %}
    Это заголовок страницы contact.html
{% endblock %}

<!-- Page Header-->
{% block site-heading %}Заголовок страницы contact.html{% endblock %}
{% block site-subheading %}contact.html - подзаголовок (заголовок 2 уровня){% endblock %}

        <!-- Main Content-->
        {% block begin_main_content_tag %}
            <main class="mb-4">
        {% endblock %}
            {% block content %}
                    <div class="col-md-10 col-lg-8 col-xl-7">
                        <p>Want to get in touch? Fill out the form below to send me a message and I will get back to you as soon as possible!</p>
                        <div class="my-5">
                            <!-- * * * * * * * * * * * * * * * -->
                            <!-- * * SB Forms Contact Form * * -->
                            <!-- * * * * * * * * * * * * * * * -->
                            <!-- This form is pre-integrated with SB Forms. -->
                            <!-- To make this form functional, sign up at -->
                            <!-- https://startbootstrap.com/solution/contact-forms -->
                            <!-- to get an API token! -->
                            <!-- <form id="contactForm" data-sb-form-api-token="API_TOKEN"> -->
                            <form method="post" id="contactForm">
                                {% csrf_token %}
                                {{ form.as_p }}
                                <!-- Submit Button-->
                                <button type="submit"
                                        class="btn btn-primary text-uppercase"
                                        id="sendMessageButton">Send</button>
                            </form>
                        </div>
                    </div>
        {% endblock %}
        {% block end_main_content_tag %}
            </main>
        {% endblock %}