{% extends "app_blog/base.html" %}

{% block title %}
    Это заголовок страницы post.html
{% endblock %}

<!-- Page Header-->
{% block site-heading %}{{ articles.title|linebreaksbr }}{% endblock %}
{% block site-subheading %}post.html - подзаголовок (заголовок 2 уровня){% endblock %}

        <!-- Post Content-->
        {% block begin_main_content_tag %}
           <article class="mb-4">
        {% endblock %}
            {% block content %}
                    <div class="col-md-10 col-lg-8 col-xl-7">
                        {{ articles.body|linebreaksbr }}<br><br>
                        {% if author.first_name %}
                            Автор (first_name): {{ author.first_name }}<br>
                        {% else %}
                            Автор (first_name - не заполнено, используем username): {{ author.username }}<br>
                        {% endif %}
                            <a href="http://spaceipsum.com/">Space Ipsum</a>
                            &middot; Images by
                            <a href="https://www.flickr.com/photos/nasacommons/">NASA on The Commons</a>
                    </div>
            {% endblock %}
        {% block end_main_content_tag %}
            </article>
        {% endblock %}